/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.history
/.secrets
generate_apis.yaml
account.json
.terraform
*.tfstate.backup